@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  @apply w-full bg-white text-slate-900 antialiased;
}

/* SADECE gerçekten taşan şeyler için */
img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

